body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #080f19;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Этот класс поможет всем секциям заполнять 100% высоты экрана */
.full-screen-section {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
